body {
    background-color: #1c232e;
    color: white;
}


.title {
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-family: serif;
}

.panel {
    background-color: transparent;
    border: 1px solid white;
}

.panel-heading {
    border-bottom: 1px solid white;
}

input.input-new-task,
input.input-new-task:hover,
input.input-new-task:active {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    border-bottom: 1px solid white;
    outline: none;
}

.task-table {
    width: 100%;
}

.task-table tbody tr td {
    padding: 5px; width: 100%
}

.fa-remove {
    cursor: pointer;
}