body {
    background-color: #1c232e;
    color: white;
}


.title {
    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-family: serif;
}

.panel {
    background-color: transparent;
    border: 1px solid white;
}

.panel-heading {
    border-bottom: 1px solid white;
}